LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

ICO_NONE ICON "icons/0.ico"
ICO_UP   ICON "icons/1.ico"
ICO_DOWN ICON "icons/2.ico"
ICO_BOTH ICON "icons/3.ico"

DLG_HIDDEN DIALOG 0, 0, 0, 0
STYLE WS_POPUP
FONT 8, "MS SHELL DLG"
{
}

DLG_ETHMETER DIALOG 0, 0, 50, 15
STYLE WS_POPUP | WS_THICKFRAME | WS_VISIBLE
FONT 8, "MS SHELL DLG"
{
    CONTROL "EthMeter", 225, "STATIC", SS_CENTER | SS_CENTERIMAGE | SS_NOTIFY | WS_CHILD | WS_VISIBLE, 0, 0, 50, 15
    CONTROL "", -1, "STATIC", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 0, 0, 50, 15
}
